* text=auto

*.md text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.githooks/* text eol=lf
.github/workflows/*.yml text eol=lf
.release/*.py text eol=lf
.release/*.json text eol=lf
*.zip binary
